body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 700;
    text-align: center;
}

.container {
    max-width: 1000px;
    max-height: 88vh;
    display: grid;
    grid-template-rows: 20% 40% 40%;
    grid-template-columns: 20% 30% 30% 20%;
    margin-bottom: 5px;
}

/*LOADER*/

.loader {
    border-top: 16px solid yellow;
    border-right: 16px solid yellowgreen;
    border-bottom: 16px solid lightseagreen;
    border-left: 16px solid palevioletred;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    grid-row: 1;
    grid-column: 1/5;
    justify-self: center;
    align-self: center;
    z-index: 5;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*BUTTON SECTION*/

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #068A95;
    width: 80px;
    height: 80px;
    padding: 20px;
    border-radius: 100%;
    margin: 50px;
}

.btn i {
    cursor: pointer;
    font-size: 6rem;
    font-weight: 400;
}

#btn-start, #btn-stop {
    color: white;
    transition-property: color;
    transition-duration: 2s;
}
#btn-start:hover, #btn-stop:hover {
    color: red;
}

.hidden {
    display: none;
}

.btn-left {
    grid-row: 1;
    grid-column: 1/3;
    justify-self: start;
    align-self: center;
}

.btn-right {
    grid-row: 1;
    grid-column: 3/5;
    justify-self: end;
    align-self: center;
}

/*WEBCAM SECTION*/

.top-frame {
    max-width: 100%;
    max-height: 80%;
    grid-row: 1;
    grid-column: 1/5;
    justify-self: center;
    align-self: end;
}
.left-frame {
    max-width: 100%;
    height: 100%;
    grid-row: 2/4;
    grid-column: 1;
    justify-self: end;
    align-self: center;
}
.right-frame {
    max-width: 100%;
    height: 100%;
    grid-row: 2/4;
    grid-column: 4;
    justify-self: start;
    align-self: center;
}

.order {
    font-family: 'Source Code Pro', monospace;
    grid-row: 2/4;
    grid-column: 2/4;
    align-self: flex-start;
    justify-self: center;
    z-index: 6;
    margin-top: 10px;
    font-size: 1.5em;
}

#video-frame {
    width: 100%;
    height: 100%;
    grid-row: 2/4;
    grid-column: 2/4;
    justify-self: center;
}
.prediction {
    font-family: 'Source Code Pro', monospace;
    grid-row: 2/4;
    grid-column: 2/4;
    align-self: flex-end;
    justify-self: center;
    z-index: 6;
    margin-bottom: 10px;
    font-size: 1.5em;
}
#video {
    padding: 10px;
    width: 90%;
    height: 80%;
    grid-row: 2/4;
    grid-column: 2/4;
    justify-self: center;
    align-self: center;
    background-color: #111111;
    border-radius: 10px;
    object-fit: cover;
}



